### Primeiro vou importar as bibliotecas que vou utilizar

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import  seaborn as sns

In [4]:
#importando a base de dados inicial
#iremos trabalhar com a base do Titanic
df = pd.read_excel(r'/home/pedro/Documentos/Analise-Exploratoria-de-dados-do-Titanic-com-Python/tested.xlsx') # esse é o caminho que meu arquivo esta

In [5]:
df.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,712833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7925,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S

### 1 Entendendo os tipos de variáveis que temos na base

In [6]:
df.dtypes

PassengerId     int64
Survived        int64
Pclass          int64
Name           object
Sex            object
Age            object
SibSp           int64
Parch           int64
Ticket         object
Fare           object
Cabin          object
Embarked       object
dtype: object

In [7]:
# criando duas listas com nomes das colunas, uma para colunas qualitativas e outra pra quantitativas 
quali = []
quanti = []

for i in df.dtypes.index:
    if df.dtypes[i] == 'object':
        quali.append(i)
    else:
        quanti.append(i)

In [8]:
print(f'Lista qualitativa {quali}')
print(f'Lista quantitativa {quanti}')

Lista qualitativa ['Name', 'Sex', 'Age', 'Ticket', 'Fare', 'Cabin', 'Embarked']
Lista quantitativa ['PassengerId', 'Survived', 'Pclass', 'SibSp', 'Parch']

### Estatistica Descritiva e Tabelas de Frequência

In [9]:
# Vamos criar um dataframe para as variáveis quanti para fazermos estatistica descritiva
df_quanti = df[quanti]

In [10]:
df_quanti.head(4)

   PassengerId  Survived  Pclass  SibSp  Parch
0            1         0       3      1      0
1            2         1       1      1      0
2            3         1       3      0      0
3            4         1       1      1      0

In [11]:
# Estatistica Descritiva 

df_quanti.describe()

       PassengerId    Survived      Pclass       SibSp       Parch
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642    0.523008    0.381594
std     257.353842    0.486592    0.836071    1.102743    0.806057
min       1.000000    0.000000    1.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000    0.000000    0.000000
50%     446.000000    0.000000    3.000000    0.000000    0.000000
75%     668.500000    1.000000    3.000000    1.000000    0.000000
max     891.000000    1.000000    3.000000    8.000000    6.000000

In [12]:
# Calculando Mediana que não está no comando anterior
df_quanti.median()

PassengerId    446.0
Survived         0.0
Pclass           3.0
SibSp            0.0
Parch            0.0
dtype: float64

In [13]:
# Tabela de Frequência para as variaveis qualitativas.
# Criando o df_quali

df_quali = df[quali]


# Fazendo a tabela de frequẽncia para a variavel Sex

df_quali.groupby('Sex').Name.count()

Sex
female    314
male      577
Name: Name, dtype: int64

In [14]:
# fazendo todas as tabelas de frequência de uma vez só

# vamos desconsiderar a varial NAME que sempre sera uńica para cada passageiro

for i in df_quali.columns:
    if i == 'Name':
        pass
    else:
        print('-----------------------------')
        print(f'Variavel {i}')
        print(df_quali.groupby(i).Name.count())

-----------------------------
Variavel Sex
Sex
female    314
male      577
Name: Name, dtype: int64
-----------------------------
Variavel Age

TypeError: '<' not supported between instances of 'int' and 'datetime.datetime'

### 3 Detecção de Dados Nulos

In [ ]:
# Para cada variável no df, iremos pegar a quantidade de dados nulos 

#iremos visualizar quantas nulos temos em cada variável
#vamos criar uma tabela para visualizar isso (um Data Frame)

nulos = pd.DataFrame()
nulos['Variaveis'] = df.columns

In [ ]:
nulos

In [ ]:
# Vamos colocar na outra coluna, a quantidade de nulos no DF

nulos['Quantidade'] = pd.Series()
nulos['Porcentagem'] = pd.Series()


for i in nulos.index:
    nulos.Quantidade[i] = df[nulos['Variaveis'][i]].isna().sum()
    nulos.Porcentagem[i] = (df[nulos['Variaveis'][i]].isna().sum()/df.PassengerId.count())*100

In [ ]:
nulos

### Qual Estrategia usar?

#### Para a variavel Cabin, temos muitos dados vazios, se removemos todas as linhas vazias, podemos acabar com um dataframe sem quase nenhuma linha para usar

#### No caso da  Variaveis Age tambem temos uma quantidade relevante de vazios (20%)

#### Apenas na variavel Embarked temos poucos vazios (0.22%)

### Faremos o Seguinte 

#### Removeremos as linhas vazias na variavel Embarked

#### Para Age e Cabin iremos preencher

#### Age é quantitativa (podemos usar a média de idade para preencher os vazios)

#### Cabin é qualitativa (podemos usar a moda, cabine que mais se repete para preencher)

In [ ]:
# Removendo as linhas  da variavel Embarked

df2 = df.dropna(subset=["Embarked"])

In [15]:
df2

NameError: name 'df2' is not defined

In [58]:
# Preenchendo a variavel Age

df3 = df2.copy()
df3.Age = df2.Age.fillna(df2.Age.mean())

TypeError: unsupported operand type(s) for +: 'int' and 'datetime.datetime'

In [ ]:
df3.age.isna().sum()

In [34]:
# Preenchendo a variável cabin

df4 = df3.copy()
print(df4.cabin.mode())

NameError: name 'df3' is not defined

In [ ]:
# Temos mais de uma Moda na variavel cabin (mais de um valor é o que mais se repete)

# Então iremos escolher um valor dentro dentro da moda e prenche aleatoriamente

moda = []

for i in df4.cabin.mode().values:
    moda.append(i)

In [35]:
# teremos uma lista com valores da Moda

moda

[]

In [36]:
# Preenchendo com valores aleatorio 

import random 

df4.cabin = df4.cabin.fillna(random.choice(moda))

NameError: name 'df4' is not defined

In [37]:
df4.cabin.isna().sum()

NameError: name 'df4' is not defined

In [38]:
df4

NameError: name 'df4' is not defined