### Importando as Bibliotecas que Vamos utilizar

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
# Importando as bibliotecas
df = pd.read_excel(r'/home/pedro/Documentos/Analise-Exploratoria-de-dados-do-Titanic-com-Python/tested.xlsx')

In [16]:
df.head(6)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,712833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7925,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,2021-05-08 00:00:00,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,4583-08-01 00:00:00,NaN,Q

In [17]:
df.dtypes

PassengerId     int64
Survived        int64
Pclass          int64
Name           object
Sex            object
Age            object
SibSp           int64
Parch           int64
Ticket         object
Fare           object
Cabin          object
Embarked       object
dtype: object

In [8]:
quali = []
quanti = []

for i in df.dtypes.index:
    if df.dtypes[i] == 'object':
        quali.append(i)
    else:
        quanti.append(i)

In [9]:
print(f'Qualitativas {quali}')
print(f'Quantitativas {quanti}')

Qualitativas ['Name', 'Sex', 'Age', 'Ticket', 'Fare', 'Cabin', 'Embarked']
Quantitativas ['PassengerId', 'Survived', 'Pclass', 'SibSp', 'Parch']

### Estatistica descritiva e tabelade frequencia

In [19]:
df_quanti = df[quanti]
df_quali = df[quali]

In [20]:
df_quanti.describe()

       PassengerId    Survived      Pclass       SibSp       Parch
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642    0.523008    0.381594
std     257.353842    0.486592    0.836071    1.102743    0.806057
min       1.000000    0.000000    1.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000    0.000000    0.000000
50%     446.000000    0.000000    3.000000    0.000000    0.000000
75%     668.500000    1.000000    3.000000    1.000000    0.000000
max     891.000000    1.000000    3.000000    8.000000    6.000000

In [25]:
df_quanti.median()

PassengerId    446.0
Survived         0.0
Pclass           3.0
SibSp            0.0
Parch            0.0
dtype: float64

In [26]:
df_quali.groupby('Sex').Name.count()

Sex
female    314
male      577
Name: Name, dtype: int64

In [27]:
for i in df_quali.columns:
    if i == "Name":
        pass
    else:
        print('-----------------------')
        print(f'Variavel {i}')
        print(df_quali.groupby(i).Name.count())
        print('-----------------------')

-----------------------
Variavel Sex
Sex
female    314
male      577
Name: Name, dtype: int64
-----------------------
-----------------------
Variavel Age

TypeError: '<' not supported between instances of 'int' and 'datetime.datetime'